html,
body {
    background: #333;
    color: red;
}

.text-black {
    color: #333;
}

.Informacion__cards{
    font-size: 14px;
}
.Informacion__cards .card {
    height: 100%;
}
.Informacion__cards ul {
    list-style-position: inside;
    padding: 0;
}